# === API НАСТРОЙКИ ===
API_CLIENT=Skillfactory
API_CLIENT_KEY= ------
START_DATE=2023-04-01 00:00:00
END_DATE=2023-04-02 00:00:00

# === БАЗА ДАННЫХ ===
DB_HOST=localhost              # Адрес вашей PostgreSQL
DB_NAME=skillfactory_stats     # Имя вашей базы
DB_USER=postgres               # Имя пользователя БД
DB_PASSWORD=your_db_password   # Пароль от БД
DB_PORT=5432                   # Порт PostgreSQL

# === GOOGLE SHEETS ===
GOOGLE_CREDENTIALS_FILE=config/credentials.json
GOOGLE_SPREADSHEET_ID = 1aBcDeFgHiJkLmNoPqRsTuVwXyZ

# === EMAIL (Gmail пример) ===
EMAIL_FROM=ваша_почта@mail.ru
EMAIL_PASSWORD=your_app_password  # НЕ обычный пароль!
EMAIL_SMTP_SERVER=smtp.mail.ru
EMAIL_SMTP_PORT=465
EMAIL_TO=получатель@example.com

# === НАСТРОЙКИ СКРИПТА ===
BATCH_SIZE=100
LOG_DIR=logs